<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Leonardo_VID" value="VID_2341"/> 
    <add key="Leonardo_PID" value="PID_8036"/>
    <add key ="Calibration" value ="15,7"/>
    <add key="Proportional_Lenght" value ="10000"/>
    <add key="CSV_Path" value ="SyringesBase.csv"/>
  </appSettings>
</configuration> 